<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dbhost" value="ATENA\SQLSERVERTHEOS" />
    <!--<add key="DbHost" value="DESKTOP-JD85T5O" />-->
    <!--<add key="DbName" value="ESCOLA" />-->
    <add key="DbName" value="SistemaEscola" />

    <add key="PastaDataBase" value="C:\Users\Christian.Castilho\CursoDotNet\AceleraTheos-Turma01\Aula21\SistemaEscola\BancoDados" />

    <!-- 1 - Arquivo, 2 - AdoNet, 3 - Dapper, 4 - EF -->
    <add key="TipoBancoDados" value="2" />
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>