<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="DbHost" value="LETO\SQLSERVERTHEOS"/>
    <add key="DbName" value="THEOS_SISTEMAESCOLAR"/>
    <add key ="PastaDataBase" value ="C:\AceleraTheos\AceleraTheos-Turma01\ArquivosSistemaEscolar"/>
    <!--1 - Dapper, 2 - AdoNet, 3- Arquivo-->
    <add key="TipoDataBase" value="2"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>