<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbHost" value ="LOCALHOST\SQLSERVERTHEOS"/>
    <add key="DbName" value="PETSHOP"/>
    <add key ="PastaDataBase" value="C:\Talita\Cursos\Acelera Theòs\AceleraTheòs-Talita\AceleraTheos-Turma01\PetShopJson"/>

    <!-- 1 - Arquivo; 2 - AdoNet; 3 - Dapper; 4 - EntyFramework -->
    <add key="TipoBancoDados" value="3"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>