<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="PastaDataBase" value="C:\Users\talita.monteiro\Desktop\Git\AceleraTheos-Turma01\PetShopJson"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>